@model Hardware

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="image for hardware shop" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <!--tag helpers-->
            <h3><a asp-controller="Hardware" asp-action="Details" asp-route-id="@Model.HardwareId">@Model.Name</a></h3>
            <p>@Model.Description</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-hardwareId="@Model.HardwareId">Add to Cart</a>
            </p>
        </div>
    </div>
</div>